doc/changes/changelog.md                   linguist-generated=true
doc/changesets/*                           linguist-generated=true
doc/images/generated/*.svg                 linguist-generated=true
